@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
.urlInputter{
border: none;
margin: 0;
padding: 0;
width: auto;
overflow: visible;

background: transparent;

/* inherit font & color from ancestor */
color: inherit;
font: inherit;

/* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
line-height: normal;

/* Corrects font smoothing for webkit */
-webkit-font-smoothing: inherit;
-moz-osx-font-smoothing: inherit;

/* Corrects inability to style clickable `input` types in iOS */
}

/* Remove excess padding and border in Firefox 4+ */
&::-moz-focus-inner {
border: 0;
padding: 0;
}

.directionsCont {
	z-index: 10000000!important;
	background-color: #202020!important;
	position: absolute!important;
	top: 115px;
	right: 0!important;
	border-color: #161616!important;
	border-width: 5px!important;
	border-style: solid!important;
	border-radius: 5px!important;
	color: #fff!important;
	display: flex!important;
	justify-content: center!important;
	align-items: center!important;
}

.directions {
	font-size: 1.2rem!important;
	font-family: 'Titan One', cursive!important;
	padding: 10px!important;
}

@media only screen and (max-width: 1036px) {
  .directionsCont {
    top: 44px!important;
	}
}

.directionsCont2 {
	z-index: 10000000!important;
	background-color: #202020!important;
	position: absolute!important;
	bottom: 0px;
	right: 0!important;
	border-color: #161616!important;
	border-width: 5px!important;
	border-style: solid!important;
	border-radius: 5px!important;
	color: #fff!important;
	display: flex!important;
	justify-content: center!important;
	align-items: center!important;
}

.urlInputter {
    background-color: #202020;
    border-color: #161616!important;
	border-width: 5px!important;
	border-style: solid!important;
	border-radius: 5px!important;
    padding: 3px;
    margin: 3px;
}

#urlForm {
    padding: 3px;
}
